@import url('https://fonts.googleapis.com/css?family=PT+Sans');

*, *:before, *:after {
  box-sizing: border-box;
}

.offset {
  position: absolute;
  left: -9999px;
}

ol, textarea, button {
  font-family: 'PT Sans', sans-serif;
}

.container {
  max-width: 768px;
  margin: 0 auto 40px;
}

textarea, button {
  width: 100%;
  padding: 10px;
  font-size: 20px;
}

button {
  border: 0;
  border-radius: 0;
  background-color: #EB641B;
  color: #fff;
}

ol {
  font-size: 20px;
}

header img {
  width: 40px;
}