<header>
  <img src="https://s.w.org/images/core/emoji/2.3/svg/1f437.svg" alt="">
</header>
<form (ngSubmit)="onFormSubmit(area)" class="container">
  <label for="piglatin" class="offset">Piglatin translation</label>
  <textarea #area id="piglatin" cols="30" rows="10" required minlength="4" placeholder="Lets translate something"></textarea>
  <br>
  <button type="submit">Translate</button>
</form>
<ol id="history" class="container" reversed></ol>